<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATAPP</title>
</head>
<body>
    <h1>Enter Your location here</h1>
    <form action="/" method="POST">
        <label for="zipcode">Enter Zip Code</label>
        <input type="text" id="zipcode" name="zipcode">
        <button type="submit">Submit</button>
    </form>

    <% if(message && City) {%>
        <h2>Your city is : <%= City %></h2>
        <h2>Notification: <%= message %></h2>

    <% } %>

</body>
</html>