<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATAPP</title>
</head>
<body>
    <h1>Enter Your City Name Here</h1>
    <form action="/wether-report" method="POST">
        <label for="city">City Name</label>
        <input type="text" id="city" name="city" placeholder="Enter your city">
        <label for="date">Date</label>
        <select name="date" id="date">
            <option value="today">Today</option>
            <option value="tommorow">Tommorow</option>
        </select>
        <button type="submit">Submit</button>
    </form>

</body>
</html>