<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATAPP</title>
</head>
<body>
    <h1>Wether Report for the <%= Date %> </h1>

    <% if(message) { %>
        <% message.forEach(element => { %>
            <ul>
                <li> <%= element %></li>
            </ul>           
        <% }) %>
        <% } %>

    <form action="/wether-report" method="get">
        <button type="submit">Reload</button>
    </form>

</body>
</html>